<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
 <add key="DSharpPlus" value="https://nuget.emzi0767.com/api/v3/index.json" protocolVersion="3" />
 <add key="DSharpPlus.CommandsNext" value="https://nuget.emzi0767.com/api/v3/index.json" protocolVersion="3" />
 <add key="DSharpPlus.Interactivity" value="https://nuget.emzi0767.com/api/v3/index.json" protocolVersion="3" />
</packageSources>
</configuration>